<div class="row">
  <div class="col-lg-12">
    <% if @classroom.errors.any? %>
      <div class="alert alert-danger">
        <p><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</p>
        <ul>
        <% @classroom.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= form_for(@classroom) do |f| %>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit nil, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
