<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @student.full_name %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Albums</h2>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Photos</th>
        <th>Created</th>
        <th>Album</th>
      </tr>
      <tr>
        <td>Showcase</td>
        <td><%= @student.photos.showcase.count %></td>
        <td><%= @student.created_at.strftime("%b %e, %Y") %></td>
        <td><%= link_to "View", showcase_path(@student) %></td>
      </tr>
      <tr>
        <td>Top Selects</td>
        <td><%= @student.photos.top_select_category.count %></td>
        <td><%= @student.created_at.strftime("%b %e, %Y") %></td>
        <td><%= link_to "View", top_selects_path(@student) %></td>
      </tr>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.name %></td>
          <td><%= album.photos.count %></td>
          <td><%= album.created_at.strftime("%b %e, %Y") %></td>
          <td><%= link_to "View", album_path(album) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% if policy(:album).new? %>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "New Album", new_student_album_path(@student), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<hr/>
<div class="row">
  <div class="col-lg-12">
    <% if policy(@student).edit? %>
      <%= link_to "Edit Student", edit_student_path(@student), class: "btn btn-primary" %>
    <% end %>
    <% if policy(@student).destroy? %>
      <%= link_to "Delete Student", student_path(@student), method: :delete, class: "btn btn-danger", data: { confirm: "Permanently delete student?" } %>
    <% end %>
  </div>
</div>
