<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Invite New Director</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <% if @user.errors.any? || @director.errors.any? %>
      <div class="alert alert-danger">
        <p><%= pluralize(@user.errors.count + @director.errors.count, "error") %> prohibited this director from being saved:</p>
        <ul>
        <% @director.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= form_for(@director) do |f| %>
      <div class="form-group">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %><br>
        <%= email_field :user, :email, class: "form-control" %>
      </div>
      <%= f.submit "Invite", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
