<div class="row">
  <% if @album.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</p>
      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row">
  <%= form_for([@student, @album]) do |f| %>
    <div class="form-group">
      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
  <% end %>
</div>

