<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @album.name %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Photos</h2>
  </div>
</div>
<%= render "category_filter_buttons" %>
<hr/>
<%= render "photo_grid", photos: @photos %>
<%= render "photo_modals", photos: @photos %>
<hr/>
<% if policy(:photo).new? %>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Add Photos", new_album_photo_path(@album), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<hr/>
<div class="row">
  <div class="col-lg-12">
    <% if policy(@album).edit? %>
      <%= link_to "Edit album", edit_album_path(@album), class: "btn btn-primary" %>
    <% end %>
    <% if policy(@album).destroy? %>
      <%= link_to "Delete album", album_path(@album), method: :delete, class: "btn btn-danger", data: { confirm: "Permanently delete student?" } %>
    <% end %>
  </div>
</div>
