<% @photos.each do |photo| %>
  <div class="modal fade" id="<%= photo_modal_id(photo) %>" tabindex="-1" role="dialog" aria-labelledby="<%= photo_modal_id(photo) %>Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="<%= photo_modal_id(photo) %>Label"><%= photo.name %></h3>
        </div>
        <div class="modal-body">
          <%= image_tag("default_photo_image.png", width: "500px") %>
          <script>
            $("#<%= photo_modal_id(photo) %>").on("shown.bs.modal", function() {
              $("#<%= photo_modal_id(photo) %> .modal-body img").attr(
                "src", "<%= attachment_url(photo, :image, fallback: 'default_photo_image.png') %>"
              )
            })
          </script>
        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <%= link_to "Outtake", photo_path(photo, photo: { category: "outtake_category" }, redirect_url: request.original_url), method: :put, class: photo_category_button_class(photo.category, "outtake_category") %>
            <%= link_to "Select", photo_path(photo, photo: { category: "select_category" }, redirect_url: request.original_url), method: :put, class: photo_category_button_class(photo.category, "select_category") %>
            <%= link_to "Top Select", photo_path(photo, photo: {  category: "top_select_category" }, redirect_url: request.original_url), method: :put, class: photo_category_button_class(photo.category, "top_select_category") %>
          </div>
          <%= link_to "Showcase", photo_path(photo, photo: { showcase: !photo.showcase? }, redirect_url: request.original_url), method: :put, class: photo_showcase_button_class(photo) %>
          <hr>
          <%= link_to "Download", attachment_url(photo, :image), class: "btn btn-primary", download: "#{photo.student.first_name}-#{photo.student.last_name}-#{photo.id}" %>
          <hr>
          <%= link_to "Edit", edit_photo_path(photo), class: "btn btn-primary" %>
          <%= link_to "Delete", photo_path(photo), method: :delete, class: "btn btn-danger", data: { confirm: "Permanently delete photo?" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
