<% @photos.each_slice(3) do |photo_slice| %>
  <div class="row">
    <% photo_slice.each do |photo| %>
      <div class="col-sm-4">
        <div class="image-container">
          <a href="#" data-toggle="modal" data-target="#<%= photo_modal_id(photo) %>">
            <%= image_tag "default_photo_image.png", width: "100%", id: "photoThumbnail#{photo.id}" %>
            <script>
              $(function() {
                $("img#photoThumbnail<%= photo.id %>").attr(
                  "src",
                  "<%= photo.image_url(:thumb) %>"
                )
              })
            </script>
          </a>
        </div>
        <% if photo.name %>
          <p><em><%= photo.name %></em></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if photo_slice.last != @photos.last %>
    <hr/>
  <% end %>
<% end %>
